html 
  head
    script(src="/javascripts/front.js" defer) 
  body
    h1="My todos"
    p Welcome to hell

    input(type="text", id="input-name")
    input(type="text", id="input-task")
    input(type="button", id="submit-data", value="submit")
    br
    br
    input(type="text", id="search-name")
    input(type="button", id="search", value="search")
    br
    p(id="feedback")


  
